/***********************************
*   Earlyiq base styles
*   Developer: tragic{media}
***********************************/
/*
 * Reset
 */
/* reset styles */
/* line 242, ../sass/base.scss */
ul, ul ul, ul ol, ol, ol ol, ol ul, dt, dd, form,
.item-list ul, .item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul, .item-list ul li,
ul.menu li, li.expanded, li.collapsed, li.leaf, li,
#content .section,
.section-what-we-do .region-content .field-name-field-image img,
#block-views-earlyiq-slideshow-block-block ul,
#block-views-earlyiq-slideshow-block-block ul li,
#block-views-earlyiq-slideshow-block-block ul .item-list,
#block-system-main-menu ul,
#block-menu-menu-footer ul,
#block-menu-menu-footer ul li,
.region-footer .block,
#block-block-7 p {
  margin: 0;
  padding: 0;
}

/* line 247, ../sass/base.scss */
table {
  border-collapse: collapse;
}

/* line 251, ../sass/base.scss */
th {
  text-align: left;
  padding: 0;
  border-bottom: none;
}

/* line 257, ../sass/base.scss */
tbody {
  border-top: none;
}

/* line 261, ../sass/base.scss */
fieldset {
  padding: 0.5em;
}

/* line 265, ../sass/base.scss */
img {
  border: 0;
}

/* line 270, ../sass/base.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* line 276, ../sass/base.scss */
#content {
  font-size: 13px;
  line-height: 15px;
  margin: 0;
}

/* line 282, ../sass/base.scss */
body {
  color: #333333;
  -webkit-font-smoothing: antialiased;
  font-family: 'arial', arial, helvetica, sans-serif;
}

/* line 288, ../sass/base.scss */
sup, sub {
  font-size: 9px !important;
}

/* line 292, ../sass/base.scss */
ul li {
  padding-bottom: 5px;
}

/* line 296, ../sass/base.scss */
#content ul li {
  margin-left: 20px;
}

/*
 * hidden elems
 */
/* line 315, ../sass/base.scss */
h1#page-title,
body.front h1,
body.front #link-home,
.maintenance-page h1.title,
.not-logged-in .comment ul.links,
.page-user #edit-timezone,
.page-toboggan-denied #user-login .description,
.permalink,
.view-seven-home-page-empty-view,
#block-jump-menu-jump-menu-m-main-menu,
#mobile-logo,
#trustwave_block h2 {
  display: none;
}

/*
 *  drupal
 */
/* line 324, ../sass/base.scss */
#block-masquerade-masquerade {
  padding: 45px 0 0;
}

/* line 330, ../sass/base.scss */
.block_quote {
  display: block;
  padding: 20px 30px !important;
  text-align: center;
}

/* line 335, ../sass/base.scss */
.float_left {
  float: left;
}

/* line 336, ../sass/base.scss */
.float_right {
  float: right;
}

/* line 337, ../sass/base.scss */
.clear_both {
  clear: both;
  display: block;
}

/*
 *  theme stylesheets
 */
/*
 * import any custom style sheets that partners have provided
 * first used for realconnex
 */
