/* custom css for colored tooltip */

/* Colored rollover imagemap css */
.tooltip {
    color:black;
    display: inline;
    position:relative;
    left:0px;
    top:00px;

    # ie only
    #opacity: .4; /* other browsers  and IE9+ */
    #filter: alpha(opacity=40); /* IE6+ */
    #filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); /* IE6+ */
    #-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)"; /* this works in IE8 only */
    # end ie stuff
}
.tooltip:hover:after{
    background-color:#fdb217; 
    border-radius: 5px;
    bottom: 26px;
    color: black;
    font-weight: bold;
    content: "North America";
    padding: 5px 15px;
    position:relative;
    left: 40px;
    top: 20px;
    z-index: 98;
    width: 220px;
}

/* End ImageMap Rollover css */
