/* line 20, ../sass/glen.scss */
body.partner-eiq-inv-001 input[type="submit"] {
  background-color: eiq-inv-001;
}
/* line 22, ../sass/glen.scss */
body.partner-eiq-inv-001 input[type="submit"]:focus, body.partner-eiq-inv-001 input[type="submit"]:hover {
  background-color: eiq-inv-001-hover;
}

/* line 28, ../sass/glen.scss */
body.partner-eiq-inv-001 h1, body.partner-eiq-inv-001 h2 {
  font-color: #ffaf4b;
}

